<p id="notice"><%= notice %></p>

<p>
  <strong>Hex color:</strong>
  <%= @obeduc_color.hex_color %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @obeduc_color.tag %>
</p>

<%= link_to 'Edit', edit_obeduc_color_path(@obeduc_color) %> |
<%= link_to 'Back', obeduc_colors_path %>
