<!DOCTYPE html>
<html>
  <head>
    <title>TesteMdl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render "layouts/header" %>
      <%= render "layouts/drawer" %>
      <%= render "layouts/start_main_content" %>
        <!-- Your content goes here -->
        <%= yield %>
      <%= render "layouts/finish_main_content" %>
    </div>
  </body>
</html>
